.product_row{
    display: flex;
    z-index: 1;
    margin-top: 100px;
    margin-left: 5px;
    margin-right: 5px;
}
.product_row2{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}
.banner{
    width: 100%;
    /* height: 650px; */
    z-index: -1;
    margin-bottom: -150px;

}